
<h2>{{mensaje}}</h2>
<h2>¿Error en el registro?</h2>
<button onclick="location.href='/api/views/registro'">Registrarse</button>
<h2>¿Usuario ya existente?</h2>
<button onclick="location.href='/api/views/login'">Login</button>