<h1>LOGIN</h1>
<form action='/api/users/login' method='post'>
  Email: <input type='email' name='email' id='email' />
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='INGRESAR' />
</form>
<button onclick="location.href='/api/views/forgot-password'">Olvidé mi contraseña</button>


<h2>USUARIO NUEVO?</h2>
<button onclick="location.href='/api/views/registro'">Ir a registro</button>

<form action='/api/users/6449c61d3f47dd15ecd52cdc/documents' method="post" enctype="multipart/form-data">
  <input type="file" name="profile" value="profilePhoto"/>
  <input type="file" name="product" value="Img de producto"/>
  <input type="file" name="document" value="document"/>
   <input type="submit" value="Submit"> 
</form>