<div class="registro-pageContainer">
<h1>REGISTRO</h1>
<div class="registro-container">
<form action='/api/users/registro' method="post" class="form-registro">
  FirstName: <input type='text' name='first_name' id='first_name' />
  LastName: <input type='text' name='last_name' id='last_name' />
  Email: <input type='email' name='email' id='email' />
  Age: <input type='number' name='age' id='age' />
  Password: <input type='password' name='password' id='password' />
    Repeat Password: <input type='password' name='repeatPassword' id='repeatPassword' />
  <input type='submit' value='CREAR' />
</form>
<div>
<button onclick="location.href='../../api/users/registroGithub'">Registrarme con GITHUB</button>
</div>
</div>

</div>

