<h1>Ingresar nueva contraseña</h1>
<form action= "/api/users/create-new-password/"${user}"/"${token} method='post'>
  
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='INGRESAR' />
</form>
