<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- si no se pone la barra antes de style NO FUNCIONA --}}
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANDLEBARS</title>
</head>
<body>
    <h1>BIENVENIDOS AL e-COMMERCE LOS LUPINOS</h1>

    {{{body}}}
  
</body>
</html>